@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: rgb(red, green, blue) !important;
    padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link{
    color: honeydew;
    padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link .active,
.navbar-dark .navbar-nav .nav-link{
    color:grey
}

.heading-content {
    position: absolute;
    top: 40%;
    width: 100%;
    max-width: 100%;
}

.heading-content h5{
    font-size: 3em;
    font-weight: 300;
    color: honeydew;
    font-family: monospace;
}

.heading-content h1{
    font-size: 5em;
    font-weight: bolder;
    color: honeydew;    
    font-family: 'Roboto', sans-serif;
}

.heading-content p{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bolder;
    color: honeydew;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}