@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: rgb(red, green, blue), !important;
    padding: 20px 0;
    position: fixed;
}

.navbar-dark .navbar-nav .nav-link{
    color: honeydew;
    padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link{
    color:grey
}

.heading-content {
    position: absolute;
    top: 12.5%;
    width: 100%;
    max-width: 100%;
}

.heading-content h5{
    font-size: 3em;
    font-weight: 300;
    color: honeydew;
    font-family: monospace;
}

.heading-content h1{
    font-size: 5em;
    font-weight: bolder;
    color: honeydew;    
    font-family: 'Roboto', sans-serif;
}

.heading-content p{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bolder;
    color: honeydew;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}

/* ---------About Start ---------- */
#about .btn{
    border: 2px solid red transparent;
    width: 40%;
    padding: 15px 22px;
    background: #000;
    border-radius: 5px;
}

#about .btn a{
    color: honeydew;
    text-rendering: none;
    font-size: 1em;
    font-weight: bold;    
    text-transform: uppercase;
}

#about .btn:hover{
    color: grey;
    cursor: pointer;
}

.img-fluid {
    max-width: 100%;
    height: 75%;
}

/* ---------Projects Start ---------- */
#projects .button{
    border: 2px solid red transparent;
    width: 40%;
    background: #000;
    border-radius: 5px;
}

#projects .button a{
    color: honeydew;
    text-rendering: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

#projects .button:hover{
    color: grey;      
    cursor: pointer;
}

.bigbutton{
    padding: 12px;
}

.offset:before{
    display: block;
    content: "";
    height: 7rem;
}

.sec1 h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 50px;
}

.sec1 p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* ---------- Media Query --------- */
@media screen and (max-width: 767px){
    .navbar {
        letter-spacing: .1em;
        padding: 10px 0;
    }
    .heading-content h5{
        font-size: 3em;
    }
    .heading-content h1{
        font-size: 3em;
    }
    .heading-content p{
        font-size: 0.9em;
    }
}
@media screen and (max-width: 479px){
    .navbar{
        letter-spacing: .1em;
        padding: 7px 0;
    }
    .heading-content h5{
        font-size: 2em
    }
    .heading-content h1{
        font-size: 2em
    }
    .heading-content p{
        font-size: .07em
    }

    #contact .post-heading h3{
        font-size: 2em;
    }
}
